.article-main {
  background-color: gray;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.article-data {
  width: 90%;
  padding: 2em;
  margin: 20px;
  background-color: white;
  height: auto;
}
.article-data > * {
  margin: 1em 0em;
}
