.article-card {
  width: 70%;
  padding: 1em;
  background-color: white;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.article-info {
  display: flex;
  justify-content: space-between;
}

.topic {
  background-color: antiquewhite;
  border-radius: 25px;
  padding: 0.5em;
}

.article-link {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .article-card {
    width: 90%;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .article-info {
    justify-content: space-between;
    align-items: flex-start;
  }

  .article-info p {
    margin: 1em 0;
  }
}
