.article-card {
  width: 70%;
  padding: 1em;
  background-color: white;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.article-info {
  display: flex;
  justify-content: space-between;
}

.topic {
  background-color: antiquewhite;
  border-radius: 25px;
  padding: 0.5em;
}

.article-link {
  text-decoration: none;
}
