#form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2em 5em;
  margin: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 0;
}

#form textarea {
  background-color: white;
  color: black;
  width: 859px;
  height: 114px;
}
@media only screen and (max-width: 600px) {
  #form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #form textarea {
    width: 100%;
    height: auto;
  }
}
