.comment-card {
  background-color: white;
  color: black;
  margin-bottom: 3em;
  margin-left: 20px;
  margin-right: auto;
  width: 80%;
  padding: 2em;
}

.comment-card > * {
  margin: 0.5em;
}

.deleting {
  color: white;
}

@media only screen and (max-width: 600px) {
  .comment-card {
    margin: 2em 0em;
  }
}
