.topic-card {
  width: 100px;
  padding: 1em;
  background-color: aliceblue;
  color: black;
  text-align: center;
  margin: 2em;
  border-radius: 25px;
}
@media only screen and (max-width: 600px) {
  .topic-card {
    width: 14em;
    margin: 2em 0em;
  }
}
